@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
  
}

body {
    background-color: #000000e3;
}


.container{
    background-color: #000000;
    font-size: 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 20;
    padding-right: 15px;
    font-family: 'Raleway', sans-serif;

}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header ul li h1{
    color: #ff0077;
    text-decoration: none;
    font-size: 60px;
    text-shadow: 1px 1px 2px #ff0077;

}

header ul li{
    display:inline-block;
    margin: 0px;
}

header a img:hover {
    background-color: #ffffff;
    border-radius: 150px;
    transition: 1s;
}

header a img {
    width: 60px;
}

#logo{
    width: 60px;
}



::-webkit-scrollbar{
    background-color: black;
    border: #FF0077 solid 1px;
    width: 5px;
    
}

::-webkit-scrollbar-thumb{
    background-color: #FF0077;
}

/* --------------------------------------Carrinho----------------------------------- */

.shopping-cart .sum-prices {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#sum-prices {
    padding-left: 5px;
}

.sum-prices h6 {
    font-size: 0.9rem;
}

.shoppingCartButton {
    cursor: pointer;
}

.shoppingCartButton:hover,
.account:hover * {
    color: #0e5e53;
}

.producstOnCart {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    overscroll-behavior: contain;
    background-color: #000000;
    width: 325px;
    height:100%;
    color: #f0f0f0;
    z-index: 15;
    position: fixed;
    top:1px;
    right: 0;
    text-align: center;
    animation: fade 1s;
}

.closeButton{
    cursor: pointer;
 
}

.producstOnCart::-webkit-scrollbar {
    display: none;
}

@keyframes fade {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: none;
    }
}

.producstOnCart::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.hide {
    display: none;
    visibility: none;
}

.producstOnCart ul {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.producstOnCart .buyItem {
    border-bottom: #aaa 1px solid;
    width: 90%;
    padding: 10px 0;
    display: flex;
  
}

.producstOnCart img {
    width: 90px;
}

.producstOnCart .top {
    display: flex;
    background-color: #616161;
    text-align: center;
    padding: 10px 0;
    position: sticky;
    top: 0;
    width: 100%;
}

.top button {
    background: transparent;
    border: none;
    font-size: 1.5rem;
    margin-left: 10px;
    color: #ffffff;
    cursor: pointer;
}

#top-cart{
    background-color: #Ff0077;
    height: 7%;
    position: absolute;
    right: 0;
}


#top-cart button:hover {
   
    cursor: pointer;
}

#top-cart h3 {
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    font-size: 18px;
}

.producstOnCart > .checkout {
    font-size: 0.9rem;
    margin: 20px auto;
    border: none;
    background-color: #FF0077;
    padding: 10px 20px;
    color: #eee;
    cursor: pointer;
    border-radius: 15px;
}

.overlay {
    overflow: hidden;
    display: inline-block;
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
   
}

.stopScrolling {
    height: 100vh;
    overflow: hidden;
}

.buyItem{
    position: absolute;
    top:0;
   margin-top: 20%;
   font-family: 'Raleway', sans-serif; 
}

#buyItems{
    height: 81%;
}


.buyItem h6 {
    margin-bottom: 10px;
    font-size: 15px;
}

.buyItem h5{
    font-size: 19px;
}

.buyItem button {
    background: transparent;
    color: #fff;
    cursor: pointer;
    font-weight: 900;
    font-size: 1.2rem;
    padding: 0 15px;
    border: none;
}   

.buyItem button:active {
    color: #96c8cc;
}

.buyItem > div {
    padding: 0 20px;
}

.producstOnCart .empty {
    justify-self: center;
    margin: 150px auto;
    font-size: 18px;
}

.cifrao{
    position: absolute;
    top: 30%;
    right:55%;
}

.price {
    width: 10%;
    height: 60px;
    font-size: 20px;
    margin: 25px;
    border: none;
    background-color: #Ff0077;
    color: rgb(255, 255, 255);
    box-shadow: -1px 1px 10px black;
    border-radius: 5px;
    position: absolute;
    top: 220%;
    left:77%;
    font-family: 'Raleway', sans-serif; 
    text-align: center;

}

.priceValue{
    position: absolute;
    top: 30%;
    right:23%;
}

.cart-quantity {
    color: rgb(255, 255, 255);
    background-color:#FF0077;
    padding: .2em .3em;
    position: absolute;
    margin:  -4em 17em 0;
    right: 0;
    border: solid 2px #FF0077;
    border-radius: 5px;
    font-weight: bolder;
  }

  .product-image{
    display: none;
  }

  .addToCart{
    width: 20%;
    height: 60px;
    font-size: 20px;
    margin: 25px;
    border: none;
    background-color: #Ff0077;
    color: rgb(255, 255, 255);
    box-shadow: -1px 1px 10px black;
    border-radius: 5px;
    position: absolute;
    top:221%;
    left:55%;
    font-family: 'Raleway', sans-serif; 
cursor: pointer;
  }
  

/* --------------------------------------select----------------------------------- */


.box {
    position: absolute;
    right: 23%;
    bottom: -145%;

  }

 
  
  .box select {
    background-color:#000000;
    color: white;
    padding: 12px;
    width: 250px;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: none;
    appearance: none;
    outline: none;
  }

  .box ::after {
    content: "\f13a";
    font-family: FontAwesome;
 }
  
  .box::before {
    content: "\f13a";
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 45px;
    color: #Ff0077;
    background-color: rgba(39, 22, 22, 0.1);
    pointer-events: none;
  }
  
  .box:hover::before {
    color: #FF0077;
    background-color: rgba(71, 69, 69, 0.2);
  }
  
  .box select option {
    padding: 30px;
  }

option :hover {
    background-color:rgba(34, 34, 34, 0.1); 
  }
 



/*----------------------carsd------------------------------------------------------------*/

.caixa1{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 200px;
    padding: 15px;
    color: #ff0077;
}

.card1 iframe{
   border-radius: 15px;
   border: solid #ff0077;
   width:700px;
   height:380px;
   
}

.card1  h3{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    padding: 5px;
    font-size: 25px;
}

.card1 img{
    background-color: #ffffff;
    border: solid 5px #FF0077;
    border-radius: 15px;
}

.card2{
    margin-top: 10px;
    text-align: justify;
    border: solid #ff0077;
    padding: 15px;
    border-radius: 15px;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    color: #000000;
    background-color: #FF0077;
}

.card2 img{
    width: 530px;
    border-radius: 15px;
    
}

.card2 button{
    background-color: #ffffff;
    border-radius: 15px;
    margin-left: 30px;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
}

.card2 button:hover{
    background-color: #000000;
}

.caixa2{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 200px;
    padding: 15px;
    color: #ff0077;
}

.card3  img{
    width: 700px;
    height: 600px;
    border-radius: 15px;
    border: solid #FF0077;
}

.card3 h3{
    text-align: center;
    font: 1em sans-serif;
    font-size: 25px;
}


.card4 h3{
    text-align: center;
    font: 1em sans-serif;
    font-size: 25px;
    padding: 10px;
}

.card4 iframe{
   border-radius: 15px;
   border: 2px solid #FF0077;
   box-shadow: 0px 0px 10px #FF0077;
   width:550px;
   height:500px;
}

#compra{
    text-align: center;
    background-color: #FF0077;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 15px;
    padding: 7px;
    font-family: 'Raleway', sans-serif;
}

.caixa3{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 20px;
    padding: 15px;
    color: #ff0077;
}

.card5{
    text-align: justify;
    font-family: 'Raleway', sans-serif;
    padding: 5px;
    font-size: 25px;
}

.card6{
   
    display: flex;
    grid-gap: 20px;
    padding: 15px;
    color: #ff0077;
}

.card6 button{
 margin-top: 20px;
}

.c1{
    margin-top: 10px;
    margin-left: 40px;
    text-align: center;
    padding: 15px;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    color: #FF0077;
}

.c2{
    margin-top: 10px;
    text-align: center;
    padding: 15px;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    color: #FF0077;
}

.c3{
    margin-top: 10px;
    text-align: center;
    padding: 15px;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    color: #FF0077;
}





/*SISTEMA DE CARDS*/



footer {
    bottom: 0px;
    margin-top: 50px;
    width: 100%;
    background-color: #000000;
    font-family:'Raleway', sans-serif ;
}

footer li{
    list-style: none;
    text-align: center;
    padding: 5px;
    font-size: 1.2rem;
}

footer h2{
    font-size: 2rem;
}

footer .links,.copy {
    display: flex;
    justify-content: space-around;
    padding: 30px;
    align-self: center;
}

footer a,footer ol {
    color: #FF0077;
    text-decoration: none;
}

#redes {
    width: 80px;
    height: 80px;
    margin: 5px;
    
}

#redes:hover{
    background-color: #ffffff;
    transition: 1s;
    border-radius: 150px;
}

.copy {
    background-image: linear-gradient(to left, black, #FF0077);
    width: 100%;
    border-top-left-radius: 50%;
}

.logo {
    font-family: 'Simply Rounded', sans-serif;
    color: white;
    font-size: 4rem;
    text-transform: capitalize;
    transition: all 2s;
}

.copy p {
    font-weight: 500;
    color: #ffffff;
}

#up {
    color: #FF0077;
}


@media screen and (max-width:767px) and (max-width:1023px) {

    .container{
       display: none;
    }


    header nav {
        text-align: center;
    }

    header button {
        display: none;
    }

    .caixa1{
        display: grid;
    }

    .caixa1 iframe{
        width: 370px;
       
    }

    .caixa2{
        display: grid;
    }

    .caixa3{
        display: grid;
    }

    .card1{
        text-align: center;
        margin-top: 40px;
        width: auto;
    }

    .card1 img{
        width: 300px;
    
    }

    .card2{
        text-align: center;
        width: 380px;
    }

    .card2 img{
        width: 340px;
       
    }

    .caixa3{
        display: grid;
        text-align: center;
        width: auto;
    }

    .card3 img{
        width: 380px;
        height: 300px;
     
    }

    .card4{
        text-align: center;
    }

    .card4 iframe{
        width: 380px;
        margin-right: 10px;
    }

    .card5{
        text-align: center;
        margin: 10px;
    }

    .card6{
       display: inline;
       margin-bottom: 100px;
    }

    .c1{
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .event-info::before {
        width: auto;
        height: auto;

    }

    .btn-expandir {
        display: none;
    }

    footer {
        display: none;
    }

    .menuzinho {
        bottom: 0vh;
        position: fixed;
        width: 100%;
        height: 60px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        background-color: #000;
        padding: 5px;
    }

    .esporte {
        margin-top: 4px;
        margin-left: 10px;
        background-color: black;
        background-image: url(img/2-removebg-preview.png);
        background-repeat: no-repeat;
        background-size: 40px;
    }

    .teatro {
        margin-top: 4px;
        margin-left: 10px;
        background-color: aqua;
        background-color: black;
        background-image: url(img/3-removebg-preview.png);
        background-repeat: no-repeat;
        background-size: 40px;
    }

    .musica {
        margin-top: 4px;
        margin-left: 10px;
        background-color: black;
        background-image: url(img/6-removebg-preview.png);
        background-repeat: no-repeat;
        background-size: 40px;
    }

    .cinema {
        margin-top: 4px;
        margin-left: 10px;
        background-color: black;
        background-image: url(img/4-removebg-preview.png);
        background-repeat: no-repeat;
        background-size: 40px;
    }

    .nsei {
        margin-top: 4px;
        margin-left: 10px;
        background-color: chartreuse;
        background-color: black;
        background-image: url(img/1-removebg-preview.png);
        background-repeat: no-repeat;
        background-size: 40px;
    }
}